html,body{
  font-family:Helvetica;
  text-align:center;
  min-width:280px;
  color:#222;
}
html{
  background: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
body{
  padding: 10px 15%;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

h4{
  font-size: 1.17em;
  max-width: 550px;
  margin: auto;
  padding: 15px;
  line-spacing: 1.2;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#main{
  margin:auto;
  padding:5px;
  border:3px solid grey;
  border-radius:5px;
  box-shadow: 3px 5px 10px rgba(200, 200, 200, 0.3);
  background-color:rgba(255, 255, 255, .8);
}

img{
  max-width: 60%;
  display: block; 
  height: auto;
  margin: auto;
}
#img-div{
  margin:5px;
  margin-top:20px;
  width:auto; 
}

#quote{
  font-family:'Oleo Script', Helvetica, sans-serif;
  font-size: 18px;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  padding: 10px;
  font-style: italic;
}

p{
  margin: auto;
  max-width: 600px;
  line-height: 1.8;
  text-align:center;
}
#img-caption{
  margin:10px;
}

ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
li{
  margin: 10px;
}